.upcomingEvents {
  background: linear-gradient(to bottom right, var(--primary-light-2), var(--primary-light));
  border-radius: var(--border-radius-lg);
  padding: 1.5rem;
  box-shadow: var(--shadow-md);
  margin: 1.25rem;
}

.upcomingEvents h2 {
  margin: 0 0 1.25rem 0;
  color: var(--text-light);
  font-size: 1.5rem;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  border-radius: var(--border-radius-md);
  border: .5px solid var(--border-color);

}

/*
  color: var(--text-light);
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: var(--border-radius-md);
*/
.eventsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.eventCard {
  background: rgba(255, 255, 255, 0.2);
  border-radius: var(--border-radius-md);
  padding: 1rem;
  transition: all 0.2s ease;
  border: .5px solid var(--border-color);
}

.eventCard:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-sm);
  border-color: var(--primary-light);
}

.eventDate {
  font-weight: 600;
  color: var(--text-light);
  margin-bottom: 0.5rem;
}

.eventName {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-light);
  margin-bottom: 0.5rem;
}

.eventLocation {
  color: var(--text-light);
  margin-bottom: 0.5rem;
}

.eventLocation::before {
  content: "📍";
  margin-right: 0.5rem;
}

.eventWeather {
  color: var(--text-light);
  font-size: 0.9rem;
}

.loading,
.error,
.empty {
  text-align: center;
  padding: 2.5rem;
  color: var(--text-secondary);
}

.eventVendors {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: var(--text-light);
}

.eventVendors::before {
  content: "👥";
  margin-right: 0.5rem;
}
